* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway-bold';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-light';
  src: url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-regular';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-lightitalic';
  src: url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

h2 {
  font-family: 'Raleway-bold';
}

.header {
  position: relative;
}

.headers {
  background: url('../media/first-girl.png');
  display: flex;
  background-repeat: no-repeat;
  height: 43rem;
  background-size: cover;
  background-position: 22% 50%;
  position: relative;
  padding: 1.2rem;
}

.logo {
  display: inline;
  float: left;
}

header img {
  width: 9rem;
}

@media (min-width: 46rem) {
  header img {
    width: 14rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}

@media (min-width: 80rem) {
  .header__bottom {
    bottom: 1rem;
    right: 1rem;
  }
}

.header__bottom {
  margin-top: -1rem;
}

.hamburger {
  width: 2.5rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background: none;
  display: block;
  cursor: pointer;
  border: none;
}

.hamburger svg path {
  fill: #FFF;
}


.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 99999;
  overflow-y: auto;
  font-family: 'Raleway-regular';
}

.mobile-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.mobile-close path {
  fill: #FFF;
}

form {
  position: absolute;
  top: 0;
  right: 9.5rem;
  display: flex;
}

form input {
  display: none;
}

@media (min-width: 80rem) {
  form {
    position: absolute;
    top: 0;
    right: 9.5rem;
    display: flex;
  }

  form input {
    width: 20rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: flex;
    padding-left: 1rem;
    margin-top: 1rem;
    display: block;
  }
}

.mobile-nav.open {
  display: block;
}

.mobile-nav ul {
  padding: 1rem;
}

.mobile-nav ul li {
  padding-bottom: 1rem;
}

.mobile-nav a {
  color: #FFF;
  font-size: 1.7rem;
  text-decoration: none;
}

.search__language {
  display: none;
}

@media (min-width: 80rem) {
  .hamburger {
    display: none;
  }

  .mobile-nav {
    height: fit-content;
    position: unset;
    display: block;
  }

  .mobile-nav.open {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    list-style: none;
    display: block;
  }

  .mobile-nav ul {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
    margin-top: 3rem;
  }

  .mobile-nav ul li {
    padding-bottom: 1rem;
    list-style-type: none;
    font-size: 0.1rem;
  }

  .mobile-nav a {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
  }

  .mobile-open.nav svg {
    display: none;
  }


  .mobile-close {
    display: none;
  }

  .search__pic {
    display: flex;
  }

  .search__pic svg {
    padding-top: 1rem;
    background: #000;
    fill: #FFF;
    padding-left: 1rem;
    height: 1rem;
    padding-right: 1rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  .search__lang {
    position: relative;
  }

  .search__language {
    position: absolute;
    right: -6.5rem;
    background: transparent;
    padding: 0.9rem;
    color: #FFF;
    border: none;
    margin-top: 1rem;
    display: block;
  }

  .search input {
    margin-top: 1rem;
  }
}

.searchp a {
  padding-left: 3rem;
}

.search {
  position: absolute;
}

.search svg {
  top: 0;
  left: 0;
  fill: #FFF;
}

@media (min-width: 80rem) {
  .searchp {
    display: none;
  }

  .searchp a {
    padding: 0;
  }

  .searchp svg {
    display: none
  }
}

.first__import {
  position: relative;
}

.first_foto {
  width: 100%;
  max-width: 7.3rem;
  margin-top: 1.5rem;
  padding-bottom: 0.3rem;
  position: absolute;
  top: -5rem;
  right: 1.5rem;
}

.first_foto path {
  fill: #FFF;
}

.second_foto {
  max-width: 18rem;
  width: 100%;
  position: absolute;
  top: -8rem;
  right: 0rem;
}

.second_foto path {
  fill: #FFF;
  width: 20rem;
  height: 4rem;
}

@media (min-width: 64rem) {
  .second_foto {
    top: -24rem;
    width: 12rem;
    right: 27rem;
  }

  .second_foto svg {
    width: 32rem;
    height: 8rem;
  }

  .first_foto {
    width: 100%;
    max-width: 6.2rem;
    position: absolute;
    top: -17rem;
    right: 7.3rem;
  }
}

.first_foto svg {
  width: 7rem;
}

.days {
  background: #000;
  color: #FFF;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  text-align: center;
  font-family: 'Raleway-regular';
}

.days li {
  width: 20%;
  list-style-type: none;
  text-decoration: none;
}

.days li:hover {
  background-color: #FFF;
  color: #000;
}

.days li a {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  display: block;
  padding-bottom: 0.5rem;
}

.days li:hover a {
  color: #000;
}

.days li p {
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-family: 'Raleway-bold';
}

.days li span {
  font-family: 'Raleway-regular';
}

@media (min-width:35rem) {
  .days li p {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    font-size: 2rem;
  }

  .days li a {
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  .days li span {
    font-size: 1.2rem;
  }
}

@media (min-width: 48rem) {
  .days li {
    width: 10%;
    padding: 1rem 0 1rem 0;
  }

  .days li p {
    padding: 0;
    font-size: 1.8rem;
    margin-top: 0;
  }

  .days li a {
    padding: 0.2rem;
  }
}

.all-import {
  margin: 1.5rem
}

@media (min-width: 48rem) {
  .all-import {
    padding: 0;
  }
}

/* detail.html 3 article */
@media (min-width: 48rem) {
  .artist-all-two.program-all {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;
    justify-content: space-between;
  }
}

.artist-sec {
  position: relative;
  margin: 1.5rem;
}

@media (min-width: 48rem) {
  .artist-sec {
    position: relative;
  }
}

@media (min-width: 48rem) {
  .artist-sec {
    position: relative;
    margin: 1.5rem;
    width: 43%;
  }
}

.artist-sec-time {
  position: relative;
}

.artist-sec-time h3 {
  background: #000;
  color: #FFF;
  margin: auto;
  width: 13rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  margin-top: 0rem;
  position: absolute;
  left: 2.6rem;
  top: -2.5rem;
  font-family: 'Raleway-bold';
}

.artist-sec-info {
  margin-left: 2.5rem;
  margin-top: 0.5rem;
}

.artist-sec-info h3 {
  font-size: 1.3rem;
  margin: 0;
  padding-top: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  text-shadow: 0rem 0rem;
}

.artist-sec-info h4 {
  margin: 0;
  font-family: 'Raleway-regular';
}

.artist-sec ul li {
  list-style: none;
}

.artist-sec ul li a img {
  width: 100%;
  max-width: 46rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-height: 25rem;
}

.artist-sec ul li a {
  text-decoration: none;
  color: #000;
}

.artist-sec ul {
  padding: 0;
}


@media(min-width: 48rem) {
  .artist-sec {
    position: relative;
    margin: 1rem;
    width: 46%;
  }
}

@media(min-width: 64rem) {
  .artist-sec {
    position: relative;
    margin: 1rem;
    width: 30%;
    margin: auto;
  }
}

/*@media (min-width: 64rem) {
  .artist {
    position: relative;
    margin: 1rem;
    width: 50%;
  }
} */

/*detail.html pagina*/

.artist {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.artist ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.artist li {
  list-style: none;
  width: 100%;
}

@media(min-width: 48rem) {
  .artist li {
    width: 50%;
    padding: 0.5rem;
  }
}

@media(min-width: 64rem) {
  .artist li {
    width: 33%;
    padding: 0.5rem;
  }
}

.artist a {
  text-decoration: none;
}

.artist-all-two article {
  display: none;
}

.artist-all-two article:nth-child(1),
.artist-all-two article:nth-child(2),
.artist-all-two article:nth-child(3) {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.artist-all-two .artist-all {
  display: flex;
  flex-direction: row;
}

.artist-all-two .artist-all .artist {
  width: 100%;
}

@media(min-width: 48rem) {
  .artist-all-two .artist-all.artist li {
    width: 47%;
  }
}

@media(min-width: 64rem) {
  .artist-all-two .artist-all .artist li {
    width: 30%;
  }
}

.artist img {
  width: 100%;
  max-width: 46rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-height: 25rem;
}

.artist-time {
  position: relative;
}

.artist-time h3 {
  background: #000;
  color: #FFF;
  margin: auto;
  width: 13rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  margin-top: 0rem;
  position: absolute;
  left: 2.6rem;
  top: -2.5rem;
  font-family: 'Raleway-bold';
}

.artist-info {
  margin-left: 2.5rem;
  margin-top: 0.5rem;
}

.artist-info h3 {
  font-size: 1.3rem;
  margin: 0;
  padding-top: 2rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  text-shadow: 0rem 0rem;
  color: #000;
  font-family: 'Raleway-bold';
}

.artist-info h4 {
  margin: 0;
  font-weight: 400;
  color: #000;
  font-family: 'Raleway-regular';
}

.artist h2 {
  word-break: keep-all;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  margin-left: 3.5rem;
  text-shadow: 0.05rem 0.05rem;
  font-family: 'Raleway-bold';
  display: block;
}

@media (min-width: 48rem) {
  .artist h2 {
    margin-left: 1.5rem;
  }
}

.container__ul {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container__ul li {
  list-style-type: none;
  padding-bottom: 1rem;
}

.container__ul li svg {
  border: 3px solid #000;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem
}

.container__ul li p {
  padding-left: 4rem;
  padding-right: 2rem;
  padding-bottom: 0rem;
  margin-bottom: 0.5rem;
  display: none;
}

@media (min-width: 64rem) {
  .container__ul {
    padding-left: 5rem;
    padding-right: 5rem;

  }

  .list-icon svg {
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
    position: absolute;
    left: 1rem;
  }

  .list-icon {
    border: 3px solid #000;
    margin-bottom: 1rem;
  }

  .container__ul li p {
    display: block;
  }

  .container__ul li {
    list-style-type: none;
    padding-bottom: 1rem;
    position: relative;
  }

  .container__ul li svg {
    width: 3rem;
    height: 3rem;
    border: none;
    position: absolute;
    top: 0rem;
  }

  .container__ul li a svg {
    top: -1rem;
  }
}



.cont-list {
  display: flex;
  padding-top: 4rem;
  position: relative;
}

.gridContent {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 3rem;
}

.check-box {
  display: flex;
  position: absolute;
  top: 0rem;
}

.container__a path {
  fill: #000;
  top: 1rem;
}

.input-box {
  display: flex;
}

.contain {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.container__two {
  width: 100%;
}

.container__two-ul {
  width: 100%;
  background-color: #000;
  margin-top: 0;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.container__two-ul li {
  list-style: none;
  font-family: 'Raleway-bold';
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.container__two-ul li a {
  color: #FFF;
  word-break: break-word;
  text-decoration: none;
}

@media (min-width: 36rem) {
  .container__two-ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 4rem;
    padding-right: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .container__two-ul li {
    width: 50%;
    font-size: 1.5rem;
    padding-right: 2.5rem;
  }

  .container__two-ul li a:hover {
    text-decoration: underline;
  }
}

.social_mail p {
  font-weight: 800;
  font-family: 'Raleway-bold';
  margin-left: 1.5rem;
  margin-bottom: 0;
}

.social_mail span {
  font-family: 'Raleway-regular';
  margin-left: 3rem;
}

.social_mail img {
  width: 0.7rem;
  margin-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.fifth__import-act {
  margin: 0 2rem 4rem;
  padding: 4rem 0;
  background: #000;
  color: #fff;
  text-align: left;
}

.fifth__import-act-in {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.2rem;
}

.fifth__import-act-in h2 {
  font-size: 1.6rem;
  position: relative;
  max-width: 100%;
  padding-bottom: 1.6rem;
  text-align: left;
  padding: 0;
  color: #fff;
}

.fifth__import-act-in p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 1.3em;
  font-family: 'Raleway-regular';
}

.activ-all {
  display: flex;
}

.activ-input {
  width: 100%;
}

.activ-input input {
  width: 100%;
  height: 2.8rem;
  padding: 0 0.8rem;
  border: 1px solid transparent;
  background-color: #fff;
  font-size: 0.9rem;
}

.activ-search svg {
  background: #000;
  width: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 1px solid #000;
  height: 2.8rem;
}

.activ-search path {
  fill: #FFF;
  background: #000;
}

.fifth__import {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.fifth__import h2 {
  font-size: 1.9rem;
  font-family: 'Raleway-bold';
  font-weight: 800;
}

.fifth__import p {
  font-size: 1.15rem;
  font-family: 'Raleway-regular';
  line-height: 1.7rem;
}


.fifth__import a {
  color: #000;
}

@media (min-width: 36rem) {
  .mail-all {
    display: flex;
  }
}

.mail-name {
  padding-bottom: 0.5rem;
}

.mail-input {
  width: 100%;
}

.mail-input input {
  background: #E9E9E9;
  width: 100%;
  border: none;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
}

.mail-input input {
  background: #E9E9E9;
  width: 100%;
  border: none;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
}

.mail-input input:hover {
  border: 1px dashed red;
}

.news2 {
  background: #000;
  color: #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  transition: 0.4s ease;
  margin-top: 0.5rem;
}

.wrapper {
  max-width: 100rem;
  margin: auto;
}

@media (min-width: 36rem) {
  .news2 {
    margin: 0;
  }
}

.news2:hover {
  background-color: #FFF;
  color: #000;
}

.footer-top {
  background: url('../media/Rectangle 51.png') 70% 0% no-repeat;
  width: 100%;
  height: 31rem;
  background-size: cover;
}

.footer-top img {
  width: 100%;
  max-width: 13rem;
  background: #FFF;
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}

@media (min-width:46rem) {
  .footer-top {
    background: url('../media/Rectangle 51.png') 100% 0% no-repeat;
    width: 100%;
    height: 30rem;
    background-size: cover;
  }

  .footer-top img {
    max-width: 18rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}

@media (min-width:64rem) {
  .footer-top {
    height: 40rem;
  }
}

.social-media {
  padding-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.social-media span {
  margin-top: 4rem;
  color: #FFF;
  font-size: 1.3rem;
  font-family: 'Raleway-bold';
  line-height: 2rem;
}

@media (min-width: 48rem) {
  .social-media span {
    display: inline-block;
    max-width: 25rem;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    height: 1rem;
  }
}

@media (min-width: 80rem) {
  .social-media span {
    font-size: 2rem;
  }

  .social-media span {
    max-width: 30rem;
  }
}

.social-media ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0rem;
  width: 12rem;
}

.social-icon {
  list-style-type: none;
  margin-right: 1rem;
}

.social-icon svg {
  width: 2.5rem;
  height: 3rem;
}

.social-icon path {
  fill: #FFF;
}

.social-icon path:hover {
  fill: #000;
}

.social-icon:hover .social-icon-in {
  fill: #FFF;
}

.footer-bottom {
  background-color: #FFF;
}

.footer-bottom img {
  width: 4rem;
}

.footer-bottom p strong {
  font-size: 1.15rem;
  line-height: 1.8rem;
  font-family: 'Raleway-bold';
}

.footer-bottom p {
  font-size: 1.15rem;
  line-height: 1.8rem;
  font-family: 'Raleway-regular';
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.gridbtn {
  background-color: #FFF;
  margin-right: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.listbtn {
  background-color: #FFF;
  margin-right: 2.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.footer-bottom button {
  background: #000;
  color: #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1rem;
  transition: 0.4s ease;
  margin-bottom: 1rem;
}

.footer-bottom button:hover {
  background-color: #FFF;
  color: #000;
}

@media (min-width: 64rem) {
  .footer-bottom {
    display: flex;
  }

  .footer-bottom button {
    font-size: 1rem;
    transition: 0.4s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 22rem;
    margin-left: 1rem;
  }

  .footer-bottom img {
    width: 4rem;
    padding: 1rem;
  }
}

section img {
  width: 1rem;
}

.gridContent.list .artist ul {
  flex-direction: column;
}

.gridContent.list .artist ul li {
  width: 100%;
}

.gridContent.list .artist ul li article {
  background: #000;
  display: flex;
}

.gridContent.list .artist ul li img {
  display: none;
}

.gridContent.list .artist ul li .artist-time h3 {
  position: relative;
  top: 0
}

.gridContent.list .artist ul li .artist-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gridContent.list .artist ul li .artist-info h3,
.gridContent.list .artist ul li .artist-info h4 {
  color: #FFF;
  padding: 0
}